node_moduels
dist
docker
scripts

.development
.testclient
.testdata
.vscode

.env
.env.local

.git
.gitignore

.nvmrc
.eslintrc.js
.prettierrc

.dockerignore

eng.traineddata

README.md
CHANGELOG.md

logs
*.log